<?xml version="1.0" encoding="UTF-8" ?>  
<beans xmlns="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd  
    ">
  
  <bean id="t_staffDAO" class="com.ht.dao.T_staffDAOImpl" autowire="byType"/>
  <bean id="t_staffService" class="com.ht.service.T_staffServiceImpl" autowire="byType"/>
  <bean id="t_staffAction" class="com.ht.action.T_staffAction" autowire="byType"/>
  <bean id="t_staff" class="com.ht.bean.T_staff" autowire="byType"/>

  <bean id="t_departmentDAO" class="com.ht.dao.T_departmentDAOImpl" autowire="byType"/>
  <bean id="t_departmentService" class="com.ht.service.T_departmentServiceImpl" autowire="byType"/>
  <bean id="t_departmentAction" class="com.ht.action.T_departmentAction" autowire="byType"/>
  <bean id="t_department" class="com.ht.bean.T_department" autowire="byType"/>

  <bean id="t_adminDAO" class="com.ht.dao.T_adminDAOImpl" autowire="byType"/>
  <bean id="t_adminService" class="com.ht.service.T_adminServiceImpl" autowire="byType"/>
  <bean id="t_adminAction" class="com.ht.action.T_adminAction" autowire="byType"/>
  <bean id="t_admin" class="com.ht.bean.T_admin" autowire="byType"/>

  <bean id="testDAO" class="com.ht.dao.TestDAOImpl" autowire="byType"/>
  <bean id="testService" class="com.ht.service.TestServiceImpl" autowire="byType"/>
  <bean id="testAction" class="com.ht.action.TestAction" autowire="byType"/>
  <bean id="test" class="com.ht.bean.TTest" autowire="byType"/>

  <bean id="t_gradeDAO" class="com.ht.dao.T_gradeDAOImpl" autowire="byType"/>
  <bean id="t_gradeService" class="com.ht.service.T_gradeServiceImpl" autowire="byType"/>
  <bean id="t_gradeAction" class="com.ht.action.T_gradeAction" autowire="byType"/>
  <bean id="t_grade" class="com.ht.bean.T_grade" autowire="byType"/>

  <bean id="t_replyDAO" class="com.ht.dao.T_replyDAOImpl" autowire="byType"/>
  <bean id="t_replyService" class="com.ht.service.T_replyServiceImpl" autowire="byType"/>
  <bean id="t_replyAction" class="com.ht.action.T_replyAction" autowire="byType"/>
  <bean id="t_reply" class="com.ht.bean.T_reply" autowire="byType"/>

  <bean id="t_ssummarizeDAO" class="com.ht.dao.T_ssummarizeDAOImpl" autowire="byType"/>
  <bean id="t_ssummarizeService" class="com.ht.service.T_ssummarizeServiceImpl" autowire="byType"/>
  <bean id="t_ssummarizeAction" class="com.ht.action.T_ssummarizeAction" autowire="byType"/>
  <bean id="t_ssummarize" class="com.ht.bean.T_ssummarize" autowire="byType"/>

  <bean id="t_obtainjobDAO" class="com.ht.dao.T_obtainjobDAOImpl" autowire="byType"/>
  <bean id="t_obtainjobService" class="com.ht.service.T_obtainjobServiceImpl" autowire="byType"/>
  <bean id="t_obtainjobAction" class="com.ht.action.T_obtainjobAction" autowire="byType"/>
  <bean id="t_obtainjob" class="com.ht.bean.T_obtainjob" autowire="byType"/>

  <bean id="t_inquireDAO" class="com.ht.dao.T_inquireDAOImpl" autowire="byType"/>
  <bean id="t_inquireService" class="com.ht.service.T_inquireServiceImpl" autowire="byType"/>
  <bean id="tInquireAction" class="com.ht.action.T_inquireAction" autowire="byType"/>
  <bean id="t_inquire" class="com.ht.bean.T_inquire" autowire="byType"/>

  <bean id="t_officeDepotDAO" class="com.ht.dao.T_OfficeDepotDAOImpl" autowire="byType"/>
  <bean id="t_officeDepotService" class="com.ht.service.T_OfficeDepotServiceImpl" autowire="byType"/>
  <bean id="t_officeDepotAction" class="com.ht.action.T_OfficeDepotAction" autowire="byType"/>
  <bean id="t_officeDepot" class="com.ht.bean.T_OfficeDepot" autowire="byType"/>

  <bean id="t_studentsDAO" class="com.ht.dao.T_studentsDAOImpl" autowire="byType"/>
  <bean id="t_studentsService" class="com.ht.service.T_studentsServiceImpl" autowire="byType"/>
  <bean id="t_studentsAction" class="com.ht.action.T_studentsAction" autowire="byType"/>
  <bean id="t_students" class="com.ht.bean.T_students" autowire="byType"/>

  <bean id="t_classDAO" class="com.ht.dao.T_classDAOImpl" autowire="byType"/>
  <bean id="t_classService" class="com.ht.service.T_classServiceImpl" autowire="byType"/>
  <bean id="t_classAction" class="com.ht.action.T_classAction" autowire="byType"/>
  <bean id="t_class" class="com.ht.bean.T_class" autowire="byType"/>

  <bean id="t_rapDAO" class="com.ht.dao.T_rapDAOImpl" autowire="byType"/>
  <bean id="t_rapService" class="com.ht.service.T_rapServiceImpl" autowire="byType"/>
  <bean id="t_rapAction" class="com.ht.action.T_rapAction" autowire="byType"/>
  <bean id="t_rap" class="com.ht.bean.T_rap" autowire="byType"/>

  <bean id="t_talkDAO" class="com.ht.dao.T_talkDAOImpl" autowire="byType"/>
  <bean id="t_talkService" class="com.ht.service.T_talkServiceImpl" autowire="byType"/>
  <bean id="t_talkAction" class="com.ht.action.T_talkAction" autowire="byType"/>
  <bean id="t_talk" class="com.ht.bean.T_talk" autowire="byType"/>

  <bean id="t_expendDAO" class="com.ht.dao.T_expendDAOImpl" autowire="byType"/>
  <bean id="t_expendService" class="com.ht.service.T_expendServiceImpl" autowire="byType"/>
  <bean id="t_expendAction" class="com.ht.action.T_expendAction" autowire="byType"/>
  <bean id="t_expend" class="com.ht.bean.T_expend" autowire="byType"/>

  <bean id="t_wagesDAO" class="com.ht.dao.T_wagesDAOImpl" autowire="byType"/>
  <bean id="t_wagesService" class="com.ht.service.T_wagesServiceImpl" autowire="byType"/>
  <bean id="t_wagesAction" class="com.ht.action.T_wagesAction" autowire="byType"/>
  <bean id="t_wages" class="com.ht.bean.T_wages" autowire="byType"/>

  <bean id="t_courseDAO" class="com.ht.dao.T_courseDAOImpl" autowire="byType"/>
  <bean id="t_courseService" class="com.ht.service.T_courseServiceImpl" autowire="byType"/>
  <bean id="t_courseAction" class="com.ht.action.T_courseAction" autowire="byType"/>
  <bean id="t_course" class="com.ht.bean.T_course" autowire="byType"/>

  <bean id="t_feedbackDAO" class="com.ht.dao.T_feedbackDAOImpl" autowire="byType"/>
  <bean id="t_feedbackService" class="com.ht.service.T_feedbackServiceImpl" autowire="byType"/>
  <bean id="t_feedbackAction" class="com.ht.action.T_feedbackAction" autowire="byType"/>
  <bean id="t_feedback" class="com.ht.bean.T_feedback" autowire="byType"/>

  <bean id="t_seminarDAO" class="com.ht.dao.T_seminarDAOImpl" autowire="byType"/>
  <bean id="t_seminarService" class="com.ht.service.T_seminarServiceImpl" autowire="byType"/>
  <bean id="t_seminarAction" class="com.ht.action.T_seminarAction" autowire="byType"/>
  <bean id="t_seminar" class="com.ht.bean.T_seminar" autowire="byType"/>

  <bean id="t_scheduleDAO" class="com.ht.dao.T_scheduleDAOImpl" autowire="byType"/>
  <bean id="t_scheduleService" class="com.ht.service.T_scheduleServiceImpl" autowire="byType"/>
  <bean id="t_scheduleAction" class="com.ht.action.T_scheduleAction" autowire="byType"/>
  <bean id="t_schedule" class="com.ht.bean.T_schedule" autowire="byType"/>

  <bean id="t_announcementDAO" class="com.ht.dao.T_announcementDAOImpl" autowire="byType"/>
  <bean id="t_announcementService" class="com.ht.service.T_announcementServiceImpl" autowire="byType"/>
  <bean id="t_announcementAction" class="com.ht.action.T_announcementAction" autowire="byType"/>
  <bean id="t_announcement" class="com.ht.bean.T_announcement" autowire="byType"/>

  <bean id="t_opinionDAO" class="com.ht.dao.T_opinionDAOImpl" autowire="byType"/>
  <bean id="t_opinionService" class="com.ht.service.T_opinionServiceImpl" autowire="byType"/>
  <bean id="t_opinionAction" class="com.ht.action.T_opinionAction" autowire="byType"/>
  <bean id="t_opinion" class="com.ht.bean.T_opinion" autowire="byType"/>

  <bean id="t_computerDAO" class="com.ht.dao.T_computerDAOImpl" autowire="byType" />
  <bean id="t_computerService" class="com.ht.service.T_computerServiceImpl" autowire="byType" />
  <bean id="t_computerAction" class="com.ht.action.T_computerAction" autowire="byType" />
  <bean id="t_computer" class="com.ht.bean.T_computer" autowire="byType" />

  <bean id="t_incomeDAO" class="com.ht.dao.T_incomeDAOImpl" autowire="byType" />
  <bean id="t_incomeService" class="com.ht.service.T_incomeServiceImpl" autowire="byType" />
  <bean id="t_incomeAction" class="com.ht.action.T_incomeAction" autowire="byType" />
  <bean id="t_income" class="com.ht.bean.T_income" autowire="byType" />

  <bean id="t_education" class="com.ht.bean.T_education" autowire="byType"/>
  <bean id="t_educationAction" class="com.ht.action.T_educationAction" autowire="byType"/>
  <bean id="t_educationDAO" class="com.ht.dao.T_educationDAOImpl" autowire="byType"/>
  <bean id="t_educationService" class="com.ht.service.T_educationServiceImpl" autowire="byType"/>

  <bean id="t_beonduty" class="com.ht.bean.T_beonduty" autowire="byType"/>
  <bean id="t_beondutyAction" class="com.ht.action.T_beondutyAction" autowire="byType"/>
  <bean id="t_beondutyDAO" class="com.ht.dao.T_beondutyDAOImpl" autowire="byType"/>
  <bean id="t_beondutyService" class="com.ht.service.T_beondutyServiceImpl" autowire="byType"/>

  <bean id="t_familysDAO" class="com.ht.dao.T_familysDAOImpl" autowire="byType"/>
  <bean id="t_familysService" class="com.ht.service.T_familysServiceImpl" autowire="byType"/>
  <bean id="t_familysAction" class="com.ht.action.T_familysAction" autowire="byType"/>
  <bean id="t_familys" class="com.ht.bean.T_familys" autowire="byType"/>

  <bean id="t_journalDAO" class="com.ht.dao.T_journalDAOImpl" autowire="byType"/>
  <bean id="t_journalService" class="com.ht.service.T_journalServiceImpl" autowire="byType"/>
  <bean id="t_journalAction" class="com.ht.action.T_journalAction" autowire="byType"/>
  <bean id="t_journal" class="com.ht.bean.T_journal" autowire="byType"/>

  <bean id="t_workcheckunusualDAO" class="com.ht.dao.T_workcheckunusualDAOImpl" autowire="byType"/>
  <bean id="t_workcheckunusualService" class="com.ht.service.T_workcheckunusualServiceImpl" autowire="byType"/>
  <bean id="t_workcheckunusualAction" class="com.ht.action.T_workcheckunusualAction" autowire="byType"/>
  <bean id="t_workcheckunusual" class="com.ht.bean.T_workcheckunusual" autowire="byType"/>

  <bean id="t_workcheck" class="com.ht.bean.T_workcheck" autowire="byType"/>
  <bean id="t_workcheckAction" class="com.ht.action.T_workcheckAction" autowire="byType"/>
  <bean id="t_workcheckDAO" class="com.ht.dao.T_workcheckDAOImpl" autowire="byType"/>
  <bean id="t_workcheckService" class="com.ht.service.T_workcheckServiceImpl" autowire="byType"/>

  <bean id="t_tickling" class="com.ht.bean.T_tickling" autowire="byType"/>
  <bean id="t_ticklingAction" class="com.ht.action.T_ticklingAction" autowire="byType"/>
  <bean id="t_ticklingDAO" class="com.ht.dao.T_ticklingDAOImpl" autowire="byType"/>
  <bean id="t_ticklingService" class="com.ht.service.T_ticklingServiceImpl" autowire="byType"/>

  <bean id="t_undergo" class="com.ht.bean.T_undergo" autowire="byType"/>
  <bean id="t_undergoAction" class="com.ht.action.T_undergoAction" autowire="byType"/>
  <bean id="t_undergoDAO" class="com.ht.dao.T_undergoDAOImpl" autowire="byType"/>
  <bean id="t_undergoService" class="com.ht.service.T_undergoServiceImpl" autowire="byType"/>

  <bean id="t_dormitoryDAO" class="com.ht.dao.T_dormitoryDAOImpl" autowire="byType"/>
  <bean id="t_dormitoryService" class="com.ht.service.T_dormitoryServiceImpl" autowire="byType"/>
  <bean id="t_dormitoryAction" class="com.ht.action.T_dormitoryAction" autowire="byType"/>
  <bean id="t_dormitory" class="com.ht.bean.T_dormitory" autowire="byType"/>

  <bean id="pager" class="com.ht.util.Pager" autowire="byType"/>
</beans>